/* basic code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* when we select an element this style applies */
*::selection{
    color: #fff;
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

/* page 1 starts */

#page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15vw;
    font-family:"Futura";
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

/* video styling starts */
#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family:"Futura";
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
/* video styling ends */

/* page 1 ends */


/* page 2 starts */
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 30%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .dets{
    height: 60px;
    border-radius: 50px;
    width: 80%;
    position: absolute;
    z-index: 9;
    background-color: antiquewhite;
}

/* .elem .dets:hover{
    height: 200px;
} */

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* jab meri width max 600px hogi tab ye property hit hogi */
@media (max-width:600px) {
    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15.5vw;
        letter-spacing:-3px ;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size:4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    #page2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.1;
    }
    
}
/* page 3 starts */
#page3{
    height: 100vh;
    width: 100%;
    background-color: beige;
}
/* page 3 ends */